.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin-top: 34px;
  max-width: 100%;
  max-height: 8%;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    max-width: 99%;
    max-height: 7%;
  }
}
@media screen and (max-width: 544px) {
  .header__logo {
    max-width: 76%;
  }
}
